<!DOCTYPE html>
<html>
<head>
    <title>Lista zadań</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container py-5">
    <div class="container text-center py-5">
    <div class="d-flex justify-content-center gap-3">
        <a href="{{ url_for('home') }}" class="btn btn-success btn-lg">🏠 Wróć do strony głównej</a>
        <a href="{{ url_for('about') }}" class="btn btn-outline-secondary btn-lg">ℹ️ O aplikacji</a>
    </div>
</div>

    <h2 class="mb-4">Dodaj kolejne zadanie:</h2>
    <form method="POST" class="d-flex gap-2 mb-5">
        <input type="text" name="task_name" class="form-control" placeholder="Nazwa zadania">
        <button type="submit" class="btn btn-primary">➕ Dodaj</button>
    </form>

    <h2 class="mb-3">Trwające zadania:</h2>
    <ul class="list-group mb-5">
        {% for task in pending_tasks %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ task.get_name() }}</span>
            <div class="btn-group">
                <form method="GET" action="/tasks/done/{{ task.id }}">
                    <button type="submit" class="btn btn-success btn-sm">✅ Zakończ</button>
                </form>
                <form method="GET" action="/tasks/delete/{{ task.id }}">
                    <button type="submit" class="btn btn-danger btn-sm">🗑 Usuń</button>
                </form>
            </div>
        </li>
        {% endfor %}
    </ul>

    <h2 class="mb-3">Wykonane zadania:</h2>
    <ul class="list-group">
        {% for task in completed_tasks %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ task.get_name() }}</span>
            <div class="btn-group">
                <form method="GET" action="/tasks/delete/{{ task.id }}">
                    <button type="submit" class="btn btn-danger btn-sm">🗑 Usuń</button>
                </form>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>

</body>
</html>
